@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #0D0D0D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bakbak: "Bakbak One", sans-serif;
}
@layer base {
  html {
    scroll-behavior: smooth !important;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Asap", sans-serif;
}
