@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
@import "tailwindcss";

:root {
  --background: #080808;
}

@theme {
  --color-background: var(--background);
  --font-bakbak: "Bakbak One", sans-serif;
  --font-asap: "Asap", sans-serif;
  --font-grape: "Grape Nuts", cursive;
}
@layer base {
  html {
    scroll-behavior: smooth !important;
  }
}

body {
  background: var(--background);
}
